@model Corno.Data.Masters.DistrictViewModel
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Delete District : " + Model.Id;
}
<div class="row">
    <div class="box-content ">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">OnlineExam</a></li>
                <li><a href="#">Masters</a></li>
                <li><a href="#">Delete District</a></li>
            </ol>
        </div>
    </div>
</div>
@Html.ValidationSummary()
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-trash-o large"></i>
                    <span>Delete District :  @Model.Id</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Delete", "District", FormMethod.Post, new { @id = "dd" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-horizontal">
                        <div class="box-content">
  
                            <div class="form-group  has-feedback">
                                 <label class="col-sm-2 control-label">Country Name :</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.CountryID, new SelectList(Model.Countrys, "ID", "Name"), "Select Country", new { id = "s2_country", @class = "populate placeholder" })
                                </div>
                                </div>
                                  <div class="form-group  has-feedback">
                                 <label class="col-sm-2 control-label">State Name :</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.StateID, new SelectList(Model.States, "ID", "Name"), "Select State ", new { id = "s2_states", @class = "populate placeholder" })
                                </div>
                                </div>
                                 
                                  <div class="form-group  has-feedback">
                                <label class="col-sm-2 control-label"> Name :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", value = "@Model.Name", placeholder = "Enter District Name", data_toggle = "tooltip", data_placement = "bottom", title = "District Name" })
                                </div>
                            </div>
                            <div class="form-group  has-feedback">
                                <label class="col-sm-2 control-label">Description :</label>
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(m => m.Description, 5, 40, new { @id = "Description", @class = "form-control", value = "@Model.Description", placeholder = "Enter Description", data_toggle = "tooltip", data_placement = "bottom", title = "Description" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button type="button" value="Index" class="btn btn-primary btn-label-left pull-left" onclick="location.href = '@Url.Action("Index", "District")'">
                                        <span><i class="fa fa-list-ul"></i></span>
                                        Back to List
                                    </button>
                                </div>
                                <div class="col-sm-offset-8 col-sm-2">
                                    <button type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete this District?')" title=" save" class="btn btn-danger btn-label-left pull-right">
                                        <span><i class="fa fa-trash-o"></i></span>
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function DemoSelect2() {
        $('#s2_country').select2({ placeholder: "Select Country" });
        $('#s2_states').select2({ placeholder: "Select State" });

    }
    $(document).ready(function () {
        // Create Wysiwig editor for textare
        //TinyMCEStart('#wysiwig_simple', null);
        //TinyMCEStart('#Description', 'extreme');
        //// Add tooltip to form-controls
        $('.form-control').tooltip();

        LoadSelect2Script(DemoSelect2);

        //// Load example of form validation
        LoadBootstrapValidatorScript(DemoFormValidator);
    });
</script>
