@model Corno.Data.Masters.CountryViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Edit";

}
<div class="row">
    <div class="box-content ">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">OnlineExam</a></li>
                <li><a href="#">Masters</a></li>
                <li><a href="#">Edit Country</a></li>
            </ol>
        </div>
    </div>
</div>
@Html.ValidationSummary()
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-edit large"></i>
                    <span>Country</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-horizontal">
                         <div class="form-group  has-feedback">
                                <label class="col-sm-2 control-label">Name :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", value = "@Model.Name", placeholder = "Enter Name", data_toggle = "tooltip", data_placement = "bottom", title = "Name" })
                                </div>
                            </div>
                            <div class="form-group  has-feedback">
                                <label class="col-sm-2 control-label">Description :</label>
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(m => m.Description, 5, 40, new { @id = "Description", @class = "form-control", value = "@Model.Description", placeholder = "Enter Description", data_toggle = "tooltip", data_placement = "bottom", title = "Description" })
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <button type="button" value="Index" class="btn btn-primary btn-label-left pull-left" onclick="location.href = '@Url.Action("Index", "Country")'">
                                    <span><i class="fa fa-list-ul"></i></span>
                                    Back to List
                                </button>
                            </div>
                            <div class="col-sm-offset-8 col-sm-2">
                                <button type="submit" value="Save" title="Save" class="btn btn-primary btn-label-left pull-right">
                                    <span><i class="fa fa-save"></i></span>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Run timepicker
    function DemoTimePicker() {
        $('#TransactionDate').timepicker({ setDate: new Date() });
        $('#YearI').timepicker({ setDate: new Date() });
        $('#YearII').timepicker({ setDate: new Date() });
        $('#YearIII').timepicker({ setDate: new Date() });
        $('#CurrentYear').timepicker({ setDate: new Date() });
    }

    $(document).ready(function () {
        // Create Wysiwig editor for textare
        //TinyMCEStart('#wysiwig_simple', null);
        //TinyMCEStart('#wysiwig_full', 'extreme');

        // Add slider for change test input length
        FormLayoutExampleInputLength($(".slider-style"));

        // Initialize datepicker
        $('#TransactionDate').datepicker({ setDate: new Date(), dateFormat: 'dd-M-yy' });
        $('#YearI').datepicker({ setDate: new Date(), dateFormat: 'dd-M-yy' });
        $('#YearII').datepicker({ setDate: new Date(), dateFormat: 'dd-M-yy' });
        $('#YearIII').datepicker({ setDate: new Date(), dateFormat: 'dd-M-yy' });
        $('#CurrentYear').datepicker({ setDate: new Date(), dateFormat: 'dd-M-yy' });
        // Load Timepicker plugin
        LoadTimePickerScript(DemoTimePicker);

        // Add tooltip to form-controls
        $('.form-control').tooltip();
        LoadSelect2Script(DemoSelect2);

        // Load example of form validation
        LoadBootstrapValidatorScript(DemoFormValidator);
        // Add drag-n-drop feature to boxes
        //WinMove();
    });
</script>
