@using Corno.Globals.Constants
@model Corno.Data.ViewModels.Admin.UserCrudViewModel
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">OnlineExam</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Change Password</a></li>
        </ol>
    </div>
</div>

@Html.ValidationSummary(false)
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    <div class="k-card">
        <div class="k-card-header">
            <div class="col-sm-10">
                <h3>@string.Format("Change Password : {0}", Model.UserName) </h3>
            </div>
            <div class="col-sm-2 text-right">
                @(Html.Kendo().Button()
                    .Name("back_to_list")
                    .Icon("arrow-left")
                    .SpriteCssClass("k-icon-64")
                    .FillMode(ButtonFillMode.Outline)
                    .ThemeColor(ThemeColor.Info)
                    .Content("Back To list")
                    .Events(e => e.Click("onBackToList"))
                    .HtmlAttributes(new { @class = "w-100" }))
            </div>
        </div>
        <div class="k-card-separator"></div>
        <div class="k-card-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        @(Html.Kendo().TextBoxFor(m => m.Password)
                            .Rounded(Rounded.Medium)
                            .Label(label => label
                                .Content("New Password")
                                .Floating(true))
                            .HtmlAttributes(new
                            {
                                type = "password",
                                @class = "required w-100"
                            }))
                    </div>
                    <div class=" col-sm-6">
                        @(Html.Kendo().TextBoxFor(m => m.ConfirmPassword)
                            .Rounded(Rounded.Medium)
                            .Label(label => label
                                .Content("Confirm Password")
                                .Floating(true))
                            .HtmlAttributes(new
                            {
                                type = "password",
                                @class = "required w-100"
                            }))
                    </div>
                </div>
            </div>
        </div>
        <div class="k-card-footer">
            <div class="col-sm-offset-11 col-sm-1 text-right">
                @(Html.Kendo().Button()
                        .Name("save")
                        .Icon("save")
                        .SpriteCssClass("k-icon-64")
                        .FillMode(ButtonFillMode.Outline)
                        .ThemeColor(ThemeColor.Success)
                        .Content("Save")
                        .HtmlAttributes(new
                        {
                            type = "submit",
                            //name = "action:Create",
                        }))
            </div>
        </div>
    </div>
}

<script>

    function onBackToList() {
        window.location.href = '/Masters/User/Index';
    }

</script>
