@using Kendo.Mvc.UI
@model Corno.Data.Corno.Paper_Setting.Models.Appointment

@{
    ViewBag.Controller = "Bill";
    ViewBag.Details = "AppointmentDetails";
    ViewBag.DetailName = "AppointmentDetails";
    ViewBag.GridCommonAction = "Inline_Create_Update_Destroy";
}

@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        // Function to check if the page was loaded via history navigation
        function isHistoryNavigation() {
            return window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD;
        }

        // Function to conditionally show the message
        function showMessage(successMessage) {
            if (!isHistoryNavigation() && successMessage) {
                bootbox.alert(successMessage);
            }
        }

        //bootbox.alert("@TempData["Success"]")
        var successMessage = "@TempData["Success"]";
            showMessage(successMessage);
    
    </script>
}

<style>
    .k-grouping-header {
        display: none;
    }
</style>

<div class="form-horizontal box-content">
    @using (Html.BeginForm("Create", "Bill", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false)
        @Html.AntiForgeryToken()

        <!-- Hidden field to store the report type -->
        <input type="hidden" id="type" name="type" />

        @Html.HiddenFor(m => m.InstanceId)
        @Html.HiddenFor(m => m.Id)

        <div class="k-card k-card-vertical">
            <div class="k-card-header k-card-tertiary"><h3>Bill</h3></div>
            <div class="k-card-body">
                @{
                    Html.RenderPartial("Partial/Selection/_Bill", Model);
                }
                <hr />
                <div class="k-card-actions k-card-actions-horizontal k-card-actions-end">
                    @(Html.Kendo().DropDownButton()
                        .Name("btnReports")
                        .Text("Reports")
                        .Icon("subreport")
                        .SpriteCssClass("k-icon-64")
                        .FillMode(FillMode.Outline)
                        .ThemeColor(ThemeColor.Tertiary)
                        .Items(items =>
                        {
                            items.Add().Id("taDa").Text("TA / DA").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','TaDa')" });
                            items.Add().Id("remuneration").Text("Remuneration").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','Remuneration')" });
                            items.Add().Id("certificate").Text("Certificate").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','Certificate')" });
                            items.Add().Id("neftForm").Text("NEFT Form").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','NeftForm')" });
                            items.Add();
                            items.Add().Id("nonAttendanceLetter").Text("Non Attendance Letter").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','NonAttendanceLetter')" });
                            items.Add();
                            items.Add().Id("remunerationPaid2").Text("Remuneration Paid 2").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','RemunerationPaid2')" });
                            items.Add().Id("remunerationPaidFacultyWise").Text("Remuneration Paid Faculty Wise").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','RemunerationPaidFacultyWise')" });
                            items.Add().Id("unattendedExaminers").Text("Unattended Examiners").Icon("file-report")
                                .HtmlAttributes(new { onclick = "submitForm('ShowReport','UnattendedExaminers')" });
                        }))
                    @(Html.Kendo().Button()
                        .Name("bill")
                        .Icon("file-report")
                        .SpriteCssClass("k-icon-64")
                        .FillMode(ButtonFillMode.Outline)
                        .ThemeColor(ThemeColor.Tertiary)
                        .Content("Show Bill")
                        .HtmlAttributes(new
                        {
                            type = "submit",
                            name = "action:ShowBill",
                        }))
                </div>

                @{
                    Html.RenderPartial("~/Areas/Paper Setting/Views/Bill/Bill.cshtml", Model);
                }

                <div class="k-card-actions k-card-actions-horizontal k-card-actions-end">
                    @(Html.Kendo().Button()
                        .Name("save")
                        .Icon("save")
                        .SpriteCssClass("k-icon-64")
                        .FillMode(ButtonFillMode.Outline)
                        .ThemeColor(ThemeColor.Success)
                        .Content("Save")
                        .HtmlAttributes(new
                        {
                            type = "submit",
                            name = "action:Save",
                        }))
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function submitForm(action, type) {
        var form = document.getElementById("form");

        // Send report type
        document.getElementById("type").value = type;

        // Action Name
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "action:" + action;

        form.appendChild(input);
        form.submit();
    }

</script>
