@model Corno.Data.Corno.Question_Bank.Models.Question

@{
    ViewBag.Action = "Create";
}

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">OnlineExam</a></li>
            <li><a href="#">Question</a></li>
            <li><a href="#">Create Question</a></li>
        </ol>
    </div>
</div>

@Html.Partial("~/Areas/Question Bank/Views/Question/_Question.cshtml", Model)

@*@if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            bootbox.alert("@TempData["Success"]")
        </script>
    }

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td.auto-width {
            width: auto;
            white-space: nowrap;
        }

        td.full-width {
            width: 30%;
        }
    </style>

    <div class="form-horizontal box-content">
        @using (Html.BeginForm("Create", "Question", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)

            <div class="k-card k-card-vertical">
                <div class="k-card-header k-card-tertiary">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Add new question</h3>
                        </div>
                        <div class="k-card-actions k-card-actions-horizontal k-card-actions-end col-sm-6">
                            @(Html.Kendo().Button()
                                     .Name("back_to_list")
                                     .Icon("arrow-left")
                                     .SpriteCssClass("k-icon-64")
                                     .FillMode(ButtonFillMode.Outline)
                                     .ThemeColor(ThemeColor.Info)
                                     .Content("Back To list")
                                     .Events(e => e.Click("onBackToList"))
                                     .HtmlAttributes(new { @class = "w-100" }))
                        </div>
                    </div>
                </div>
                <div class="k-card-body">
                    @{
                        Html.RenderPartial("Partial/Selection/_QuestionBank", Model);
                    }
                    <table class="table">
                        <tr>
                            <td class="auto-width">Chapter :</td>
                            <td class="full-width">
                                @(Html.Kendo().MultiColumnComboBoxFor(m => m.ChapterId)
                                .DataTextField(ModelConstants.NameWithId)
                                .DataValueField(ModelConstants.Id)
                                .HtmlAttributes(new { @class = "w-100" })
                                .Filter("contains")
                                .Placeholder("Select ...")
                                .Columns(columns =>
                                {
                                    columns.Add().Field(ModelConstants.Id).Title(ModelConstants.Id).Width("100px");
                                    columns.Add().Field(ModelConstants.Name).Title(ModelConstants.Name).Width("600px");
                                })
                                .DataSource(dataSource =>
                                {
                                    dataSource.Read(read => { read.Action("GetChapters", "Corno").Data("filterChapters"); })
                                        .ServerFiltering(true);
                                })
                                .Enable(false)
                                .AutoBind(false)
                                .CascadeFrom(ModelConstants.SubjectId))
                                <script>
                                    function filterChapters() {
                                        return {
                                            SubjectId: $("#SubjectId").val(),
                                        };
                                    }
                                </script>
                            </td>
                            <td></td>
                            <td class="auto-width">Question Type :</td>
                            <td class="full-width">
                                @(Html.Kendo().MultiColumnComboBoxFor(m => m.QuestionTypeId)
                                .DataTextField(ModelConstants.Name)
                                .DataValueField(ModelConstants.Id)
                                .HtmlAttributes(new { @class = "w-100" })
                                .Filter("contains")
                                .Placeholder("Select ...")
                                .Columns(columns =>
                                {
                                    columns.Add().Field(ModelConstants.Id).Title(ModelConstants.Id).Width("100px");
                                    columns.Add().Field(ModelConstants.Name).Title(ModelConstants.Name).Width("600px");
                                })
                                .DataSource(dataSource => dataSource
                                    .Read(read => read.Action("GetQuestionTypes", "Corno"))
                                ))
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-width">Difficulty Level :</td>
                            <td class="full-width">
                                @(Html.Kendo().MultiColumnComboBoxFor(m => m.DifficultyLevel)
                                //.Enable(Model.EnableHeader)
                                .DataTextField(ModelConstants.Name)
                                .DataValueField(ModelConstants.Id)
                                .HtmlAttributes(new { @class = "w-100" })
                                .Filter("contains")
                                .Placeholder("Select ...")
                                .Columns(columns =>
                                {
                                    columns.Add().Field(ModelConstants.Id).Width("100px");
                                    columns.Add().Field(ModelConstants.Name).Width("600px");
                                })
                                .DataSource(dataSource => dataSource
                                    .Read(read => read.Action("GetDifficultyLevels", "Corno"))
                                ))
                            </td>
                            <td></td>
                            <td class="auto-width">OC No. :</td>
                            <td class="full-width">
                                @(Html.Kendo().NumericTextBoxFor(m => m.OcNo)
                                .Decimals(0).Min(0).Format("n0")
                                .Value(Model.OcNo ?? 0)
                                .HtmlAttributes(new { @class = "text-right w-100" }))
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="auto-width">Marks :</td>
                            <td class="full-width">
                                @(Html.Kendo().NumericTextBoxFor(m => m.Marks)
                                    .Decimals(0).Min(0).Format("n0")
                                    .Value(Model.Marks ?? 0)
                                    .HtmlAttributes(new { @class = "text-right w-100" }))
                            </td>
                        </tr>
                    </table>
                    $1$<div class="form-group">
                            <div class="col-sm-2">
                                @Html.LabelFor(m => m.Description,
                                    new
                                    {
                                        @id = "editor1",
                                        //@class = "col-sm-2 control-label"
                                    })

                            </div>
                        </div>
                        <hr />#1#
                    <div class="form-group row">
                        <div class="col-sm-12">
                            @Html.TextAreaFor(m => m.Description, new { id = "Description" })
                        </div>
                    </div>
                    $1$<div class="form-group">
                            @Html.LabelFor(m => m.Description, "Description :",
                                new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <input type="hidden" id="Description" name="Description">
                                <div id="editor"></div>
                            </div>
                        </div>#1#
                    $1$<div class="form-group">
                        <div class="col-sm-12 text-right">
                            @(Html.Kendo().Grid<QuestionViewModel>()
                                     .Name("grid")
                                     .ToolBar(t => t.Search())
                                     .Pageable()
                                     .Sortable()
                                     .Groupable()
                                     .Filterable()
                                     .Resizable(resize => resize.Columns(true)) // Allow column resizing
                                     .PersistSelection()
                                     .HtmlAttributes(new { @class = "w-100" })
                                     .Columns(columns =>
                                     {
                                         columns.Bound(m => m.SerialNo)
                                             .HtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                             .Title("No.")
                                             .Width(50);
                                         columns.Bound(m => m.ChapterName)
                                             .Title("Chapter")
                                             .Width(100);
                                         columns.Bound(m => m.QuestionTypeName)
                                             .Title("Question Type")
                                             .Width(100);
                                         columns.Bound(m => m.DifficultyLevel)
                                             .HtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                             .Title("Diff. Level")
                                             .Width(100);
                                         columns.Bound(m => m.Description);
                                         columns.Bound(m => m.Status)
                                             .ClientTemplate(
                                                 "<span class='badge' style='background-color: " +
                                                 "# if (Status == \"Active\") { #" +
                                                 "green" +
                                                 "# } else if (Status == \"Accepted\") { #" +
                                                 "blue" +
                                                 "# } else if (Status == \"Rejected\") { #" +
                                                 "red" +
                                                 "# } else { #" +
                                                 "transparent" +
                                                 "# } #" +
                                                 "; color: " +
                                                 "# if (Status == \"Active\" || Status == \"Accepted\" || Status == \"Rejected\") { #" +
                                                 "white" +
                                                 "# } else { #" +
                                                 "black" +
                                                 "# } #" +
                                                 "; text-align: center; display: inline-block; width: 100%;'>" +
                                                 "#= Status #</span>"
                                             ).Width(50);
                                     })
                                     .DataSource(dataSource => dataSource
                                         .Ajax()
                                         .Read(read => read.Action("GetQuestions", "Question").Data("getFilterParams"))
                                         .Update(update => update.Action("Inline_Create_Update_Destroy", "Question")) // Specify the update action
                                         .Model(model => model.Id(ModelConstants.Id))

                                         .GroupPaging(true)
                                         .Group(x =>
                                         {
                                             x.Add(y => y.ChapterId);
                                         })
                                     ))
                            <script>
                                function getFilterParams() {
                                    return {
                                        FacultyId: $("#FacultyId").data("kendoMultiColumnComboBox").value(),
                                        CourseId: $("#CourseId").data("kendoMultiColumnComboBox").value(),
                                        CoursePartId: $("#CoursePartId").data("kendoMultiColumnComboBox").value(),
                                        SubjectId: $("#SubjectId").data("kendoMultiColumnComboBox").value(),
                                    };
                                }
                            </script>
                        </div>
                    </div>#1#
                </div>

                <div class="k-card-footer">
                    <div class="k-actions k-actions-horizontal k-actions-end">
                        @(Html.Kendo().Button()
                            .Name("save")
                            .Icon("save")
                            .SpriteCssClass("k-icon-64")
                            .FillMode(ButtonFillMode.Outline)
                            .ThemeColor(ThemeColor.Success)
                            .Content("Save")
                            .HtmlAttributes(new
                            {
                                type = "submit",
                                name = "action:Create",
                            }))
                    </div>
                </div>
            </div>
        }

    </div>

    $1$<script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>
        <script src="https://www.wiris.net/demo/plugins/app/WIRISplugins.js?viewer=image"></script>
        <script>
                // Add External Plugins for MathType, ChemType, and Font
                CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
                CKEDITOR.plugins.addExternal('kekule', 'plugins/Kekule/src/_extras/CKEditorPlugins/kekule/', 'plugin.js');
                CKEDITOR.plugins.addExternal('font', 'plugins/font/', 'plugin.js');

                // Initialize CKEditor
                CKEDITOR.replace('editor1', {
                    width: '900px',
                    height: '200px',
                    //plugins: [Image, /* ... */],
                    //toolbar: ['insertImage', /* ... */],
                    // MathType-specific parameters for default font and size
                    //mathTypeParameters: {
                    //    fontName: 'Times New Roman',
                    //    fontSize: '12px'
                    //},

                    filebrowserUploadUrl: '/Question/Upload',  // File upload URL
                    filebrowserUploadMethod: 'form',                         // Upload method

                    extraPlugins: 'ckeditor_wiris,kekule,font',              // Load additional plugins
                });

                // Debugging: Ensure MathType-specific settings are applied
                CKEDITOR.on('instanceReady', function (event) {
                    var editor = event.editor;
                    if (editor.plugins.ckeditor_wiris) {
                        editor.plugins.ckeditor_wiris.setParameters({
                            fontName: 'Times New Roman',
                            fontSize: '12px'
                        });
                    }
                });
            document.querySelector("form").addEventListener("submit", function () {
                document.getElementById("Description").value = editor.getData(); // Get the editor's content
            });


        </script>#1#

    <script>
        $(document).ready(function () {
            $("#form").kendoValidator().data("kendoValidator");
        });

        function onBackToList() {
            window.location.href = '/Question Bank/Question/Index';
        }

        function onChange() {

        }

        function onBoundChange() {
            console.log("event: bound change, Detail count : ");
        }
    </script>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        // Add External Plugins for MathType, ChemType, and Font
        CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
        CKEDITOR.plugins.addExternal('kekule', 'plugins/Kekule/src/_extras/CKEditorPlugins/kekule/', 'plugin.js');
        CKEDITOR.plugins.addExternal('font', 'plugins/font/', 'plugin.js');

        // Initialize CKEditor
        CKEDITOR.replace('Description', {
            width: '100%',
            height: '200px',

            $1$filebrowserUploadUrl: '/Question/Upload',       // File upload URL
            filebrowserUploadMethod: 'form',                // Upload method#1#

            extraPlugins: 'ckeditor_wiris,kekule,font',     // Load additional plugins
        });

        // Debugging: Ensure MathType-specific settings are applied
        CKEDITOR.on('instanceReady', function (event) {
            var editor = event.editor;
            if (editor.plugins.ckeditor_wiris) {
                $1$editor.plugins.ckeditor_wiris.setParameters({
                    fontName: 'Times New Roman',
                    fontSize: '12px'
                });#1#
            }
        });

        document.querySelector("form").addEventListener("submit", function () {
            // Assign CKEditor data to textarea before submit
            if (editor) {
                console.log("Data : " + editor.getData())
                document.getElementById("Description").value = editor.getData();
            }
        });

        $1$document.querySelector("form").addEventListener("submit", function () {
            console.log("Data : " + editor.getData())
            document.getElementById("Description").value = editor.getData(); // Get the editor's content
        });#1#
    </script>*@